/* --------------DEFAULTS----------------- */

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    background-color: rgb(226, 222, 222);
}


/* ---------------NAV BAR---------------- */

nav {
    background-color: rgb(255, 254, 254);
    border: 1px solid rgb(42, 13, 97);
}

.navbar-light .navbar-toggler {
    color: rgb(42, 13, 97);
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(16, 16, 110);
    font-weight: 500;
}

a.middle {
    position: relative;
}

a.middle:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: rgb(42, 13, 97);
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

a.middle:hover:before {
    visibility: visible;
    transform: scaleX(1);
    color: rgb(16, 16, 110);
}

.navbar-light .navbar-nav .nav-link:hover {
    color: rgb(16, 16, 110);
}


/* ---------------section1--------------- */

.section1 {
    background-color: rgb(20, 11, 80);
}

.vimg {
    padding: 40px;
}

.vaccineImg {
    width: 100%;
    margin: auto;
    box-shadow: 0 0 0 3px rgba(0, 0, 0, .15), 10px 12px 7px 0 rgba(0, 0, 0, .14);
}

.quote {
    margin: auto;
    padding: 20px;
}

div.quote h1 {
    color: #fff;
    font-weight: bold;
    margin: auto;
    padding: 10px;
}

div.quote h2 {
    color: rgb(248, 206, 17);
    font-weight: bold;
    margin: auto;
    padding: 10px;
}

div.quote h6 {
    color: rgb(253, 253, 252);
    font-weight: bold;
    margin: auto;
    padding: 10px;
}

.registerbuttons {
    margin: auto;
    padding: 20px;
}

.registerbuttonstyle {
    background-color: rgb(245, 182, 8);
    box-shadow: 0 0 0 3px rgba(0, 0, 0, .15), 10px 12px 7px 0 rgba(0, 0, 0, .14);
    color: rgb(7, 7, 7);
    font-weight: 500;
    border-radius: 10px;
    margin: auto;
}

div.registerbuttons a:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(45, 13, 121);
    border: 3px solid rgb(20, 11, 80);
}


/* ---------------section2------------------------ */

.section2 {
    background-color: rgb(226, 222, 222);
    padding: 40px;
}

h2.how {
    color: rgb(17, 12, 92);
}

.procedure {
    margin: auto;
    text-align: center;
    padding: 40px;
    border: 3px ridge rgb(38, 9, 112);
}

div.procedure h2 {
    font-weight: bold;
    margin: auto;
    padding: 30px;
}

div.procedure h4 {
    font-weight: bold;
    margin: auto;
    padding: 10px;
}

.procedureitems {
    margin: auto;
    padding: 10px;
    display: inline;
}

div.box {
    background-color: #fdbc00;
    box-shadow: 0 0 0 3px rgba(0, 0, 0, .15), 10px 12px 7px 0 rgba(0, 0, 0, .14);
    border-radius: 3px;
    text-align: center;
    align-items: flex-start;
    justify-content: space-between;
    /* margin: 20px; */
    padding: 20px 20px 20px 20px;
}

div.highlight :hover {
    background-color: rgb(20, 11, 80);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .15), 10px 12px 7px 0 rgba(0, 0, 0, .14);
    color: rgb(252, 252, 252);
}

.card-img-top {
    width: 50%;
}

div.box h6 {
    padding: 20px;
}

.procedurebuttons {
    margin: auto;
    padding: 40px;
}

.procedurebuttonstyle {
    background-color: none;
    color: rgb(20, 11, 80);
    border: 2px solid rgb(20, 11, 80);
    font-weight: 500;
}

div.procedurebuttons a:hover {
    background-color: rgb(45, 13, 121);
    color: rgb(255, 254, 254);
}


/* ----------------section3--------------------------- */

.section3 {
    padding: 40px;
    margin: auto;
    text-align: center;
    background-color: rgb(20, 11, 80);
    border-top: 3px solid #000;
}

div.vaccineCentre h3 {
    font-weight: bold;
    color: rgb(248, 247, 242);
}

.searchbuttons {
    margin: auto;
    padding: 40px;
}

.searchbuttonstyle {
    background-color: rgb(248, 152, 9);
    color: rgb(12, 12, 12);
    font-weight: 500;
    border: 2px solid rgb(2, 2, 2);
    border-radius: 30px;
}

div.searchbuttons a:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(45, 13, 121);
    border: 2px solid rgb(20, 11, 80);
}

.modal-title {
    font-weight: bold;
    color: rgb(16, 16, 110);
}

.searchbm {
    background-color: rgb(38, 19, 107);
    color: white;
    border: 2px solid white;
}

h6.searchm {
    color: red;
}


/* ----------------dsection1---------------------- */

.dsection1 {
    padding: 40px;
    margin: auto;
    text-align: center;
    background-color: rgb(226, 222, 222);
}

.quote {
    margin: auto;
    padding: 20px;
}

div.case h2 {
    color: rgb(17, 16, 16);
    font-weight: bold;
    margin: auto;
    padding: 10px;
}

div.today h2 {
    color: rgb(192, 8, 2);
    font-weight: bold;
    margin: auto;
    padding: 10px;
}

.counter {
    background-color: #eaecf0;
    text-align: center;
}

.cases {
    margin: auto;
}

.counter-count {
    font-size: 28px;
    font-weight: bold;
    background-color: #0a0b58;
    border-radius: 50%;
    color: #ffffff;
    text-align: center;
    line-height: 142px;
    width: 142px;
    height: 142px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: inline-block;
}

div.cases p:hover {
    font-size: 36px;
    font-weight: bold;
    background-color: #0a0b58;
    border-radius: 50%;
    color: #ffffff;
    text-align: center;
    line-height: 182px;
    width: 182px;
    height: 182px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: inline-block;
}


/* -------------------dsection2------------------- */

.dsection2 {
    padding: 40px;
    margin: auto;
    text-align: center;
    background-color: rgb(226, 222, 222);
}

.vcount {
    margin: auto;
    padding: 20px;
}

div.vbox {
    background-color: #ffffff;
    box-shadow: 0 0 0 3px rgba(0, 0, 0, .15), 10px 12px 7px 0 rgba(0, 0, 0, .14);
    border-radius: 3px;
    text-align: center;
    align-items: flex-start;
    justify-content: space-between;
    /* margin: 20px; */
    padding: 20px 20px 20px 20px;
}

g text {
    font-size: 13px;
    font-weight: bold;
}

div.vboxscroll {
    background-color: #ffffff;
    box-shadow: 0 0 0 3px rgba(0, 0, 0, .15), 10px 12px 7px 0 rgba(0, 0, 0, .14);
    border-radius: 3px;
    text-align: center;
    align-items: flex-start;
    justify-content: space-between;
    /* margin: 20px; */
    padding: 20px 20px 20px 20px;
    overflow: auto;
    overflow-x: hidden;
    height: 240px;
}

div.vboxscroll p {
    font-size: 13px;
    font-weight: bold;
}

div.vboxage {
    background-color: #ffffff;
    box-shadow: 0 0 0 3px rgba(40, 5, 95, 0.15), 10px 12px 7px 0 rgba(49, 14, 146, 0.14);
    border-radius: 3px;
    text-align: center;
    align-items: flex-start;
    justify-content: space-between;
    /* margin: 20px; */
    padding: 20px 20px 20px 20px;
    overflow: auto;
    overflow-x: hidden;
    height: 170px;
}

div.vboxage p {
    font-size: 13px;
    font-weight: bold;
}

div.states p {
    color: rgb(42, 20, 105);
}

div.number p {
    color: rgb(16, 129, 73);
}

div.states {
    text-align: left;
}

div.number {
    text-align: right;
}


/* -------------------dsection3------------------- */

.dsection3 {
    padding: 40px;
    margin: auto;
    text-align: center;
    background-color: rgb(226, 222, 222);
}

div.dsection3 label {
    background-color: green;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    font-size: 20px;
    line-height: 35px;
    height: 35px;
    width: 150px;
}


/* -------------------lsection1------------------ */

.lsection1 {
    padding: 40px;
    margin: auto;
    text-align: center;
    background-color: rgb(226, 222, 222);
    border: 2px solid rgb(26, 7, 95);
}

.container.login-container {
    margin-top: 3%;
    margin-bottom: 3%;
}

.card {
    border: 3px solid rgb(16, 16, 110);
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.card.loginin-card {
    padding: 40px 0px 20px;
    background-color: #f5f5f5;
}

img.login-img {
    padding: 0 2rem 2rem;
    margin: auto;
    display: block;
    width: 90%;
}

h5.welcome {
    font-weight: 500;
    color: rgb(18, 11, 122);
}

h6.welcome {
    font-weight: 500;
    color: rgb(18, 11, 122);
}

h6.welcomep {
    font-weight: 500;
    color: rgb(228, 152, 11);
}

h6.welcomeu {
    font-weight: 300;
    font-size: 13px;
    color: rgb(124, 120, 113);
}

form.login-form {
    max-width: 250px;
    margin: auto;
}

input.form-control {
    background-color: #e9e9e9;
}

::placeholder {
    font-size: 14px;
}

button.login-button {
    width: 100%;
    color: white;
    background-color: rgb(8, 8, 75);
}

p.line {
    width: 80%;
    text-align: center;
    border-bottom: 0.5px groove grey;
    line-height: 0.1em;
    margin: auto;
}

p span {
    font-size: 12px;
    font-weight: bold;
    color: grey;
    background-color: white;
    padding: 0 10px;
}

.facebook {
    text-align: center;
    padding-top: 1px;
}

img.fb {
    margin: auto;
    width: 6%;
    overflow: auto;
}

a {
    font-size: 15px;
    font-weight: bold;
    color: #385185;
    line-height: 1em;
}

a:hover {
    text-decoration: none;
}

a.frgt-pswd {
    font-size: 12px;
    font-weight: normal;
    color: #385185;
}


/* ----------------verify------------------------- */

.vsection1 {
    padding: 40px;
    margin: auto;
    text-align: center;
    background-color: rgb(226, 222, 222);
    border: 2px solid rgb(26, 7, 95);
}

.verification {
    margin: auto;
}

.medal {
    width: 25%;
    margin: auto;
}

.verifybuttonstyle {
    background-color: rgb(21, 10, 83);
    box-shadow: 0 0 0 3px rgba(0, 0, 0, .15), 10px 12px 7px 0 rgba(0, 0, 0, .14);
    color: rgb(253, 253, 253);
    font-weight: 500;
    border-radius: 10px;
    margin: auto;
}

.btn:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(45, 13, 121);
    border: 3px solid rgb(20, 11, 80);
}

.vcontent {
    text-align: left;
}


/* -----------------fooooterrrrr----------------- */

footer {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-top: 5px solid rgb(22, 7, 65);
    border-bottom: 5px solid rgb(22, 7, 65);
}

.right {
    text-align: end;
}

.left {
    text-align: start;
}

.partnersimg {
    width: 30%;
    padding: 10px;
}

.partnersimgb {
    width: 15%;
    padding: 10px;
}

h6.number {
    color: rgb(10, 10, 10);
}

h5.number {
    color: rgb(31, 16, 88);
    font-weight: 700;
    margin-left: 15px;
}


/* ---------------CUSTOM RESPONSIVE-------------- */

@media screen and (max-width:680px) {
    html {
        scroll-behavior: smooth;
        overflow-x: hidden;
    }
    .vaccineImg {
        width: 90%;
        padding: 10px;
        margin: auto;
    }
    .procedurebuttons {
        margin: auto;
        padding: 0px;
        padding-top: 30px;
        text-align: center;
    }
    .procedurebuttonstyle {
        margin-top: 10px;
    }
    .searchbuttonstyle {
        margin-top: 20px;
    }
    .searchbuttons {
        margin: auto;
        padding: 0px;
        padding-top: 30px;
    }
    img.login-img {
        padding: 0 2rem 2rem;
        margin: auto;
        display: block;
        width: 100%;
    }
    .medal {
        width: 50%;
        margin: auto;
    }
    .left {
        text-align: start;
    }
    .right {
        text-align: start;
        margin-left: 15px;
    }
    .partnersimg {
        width: 33%;
        padding: 10px;
    }
    .partnersimgb {
        width: 15%;
        padding: 10px;
    }
}